node_modules
.env
.vscode
datosLogin.txt

env/
venv/
ENV/
env.bak/
venv.bak/
.env
.venv
myenv

__pycache__/
*.py[cod]
*.so

.Python
*.egg
*.egg-info/
dist/
build/

*.log
htmlcov/
.tox/
.coverage

local_settings.py
db.sqlite3

docs/_build/
.pytest_cache/
.mypy_cache/

package-lock.json



